@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

* {
  box-sizing: border-box;
}

h2 {
  font-family: "Alfa Slab One", cursive;
}

body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0 0 50px;
}

table {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

table thead button {
  margin-left: 10px;
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}

#styled-select select {
  width: 50px;
  padding: 5px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  text-indent: 0.01px;
  text-overflow: "";
}

#header {
  display: flex;
  justify-content: space-between;
}

#small-select {
  width: 60px;
}
